/* Humanist-300 - latin_cyrillic */
@font-face {
    font-family: 'Humanist';
    font-style: normal;
    font-weight: 300;
    src: local('Humanist Light'),
         url('../fonts/Humanist\ 521_Light.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Humanist\ 521_Light.woff') format('woff'); /* Modern Browsers */
}

  /* Humanist-regular - latin_cyrillic */
@font-face {
    font-family: 'Humanist';
    font-style: normal;
    font-weight: 500;
    src: local('Humanist Regular'),
         url('../fonts/Humanist\ 521_Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Humanist\ 521_Regular.woff') format('woff'); /* Modern Browsers */
}

  /* Humanist-800 - latin_cyrillic */
@font-face {
    font-family: 'Humanist';
    font-style: normal;
    font-weight: 800;
    src: local('Humanist Bold'),
         url('../fonts/Humanist 521_Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Humanist 521_Bold.woff') format('woff'); /* Modern Browsers */
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

p {
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

html {
    font-family: 'Humanist';
    background-color: #F1F2F5;
}

h1 {
    font-size: 24px !important;
    font-weight: bold;
    color: #fff;
}

h2 {
    margin: 0;
    font-size: 20px !important;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 27px;
}


:root {
    --main-color-gray: #333333; 
}

button:active, button:focus {
    outline: none;
}
button::-moz-focus-inner {
    border: 0;
}


/* header */

.header {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #363645;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
}


/* prev link */

.prev-page {
    display: flex;
    padding-top: 100px;
    margin-bottom: 40px;
}

.prev-page-link {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #4DB56D;
}

.prev-page-icon {
    padding-right: 16px;
}


/* section-lesson*/

.section-lesson {
    margin-bottom: 246px;
}

.section-lesson-heading {
    width: 100%;
    font-size: 20px !important;
    color: #363645;
    margin-bottom: 8px;
}

.section-lesson-description {
    font-size: 14px;
    margin-bottom: 24px;
}

.section-lesson-video {
    padding-bottom: 24px;
}

.section-lesson-video-img {
    border-radius: 8px;
}

/* section recommend*/

.section-recommend {
    display: none;
    flex-direction: column;
    color: #363645;
}

.section-recommend-item {
    margin-bottom: 42px;
    padding-bottom: 42px;
    border-bottom: solid 1px #CCCCCC;
}
.section-recommend-heading {
    margin-bottom: 8px;
}

.section-recommend-description {
    font-size: 14px;
    color: #363645;
    margin-bottom: 16px;
}

.section-recommend-btn {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    max-width: 100%;
    width: 245px;
    height: 40px;
    font-size: 12px;
    font-weight: bold;
    background-color: #4DB56D;
    color: #fff;
    border: none;
    border-radius: 8px;
}

.section-recommend-icon {
    margin-right: 10px;
}

.section-recommend-btn-blue {
    background-color: #66BAEE;
}

/*footer*/

.footer-item {
    color: #212121;
    font-size: 12px;
    margin-bottom: 24px;
    opacity: 50%;
}


@media (min-width: 768px) {
    
    .prev-page-link {
        font-size: 20px;
    }

    .section-lesson {
       max-width: 66.6%;
    }

    .section-lesson-heading {
        font-size: 42px !important;
        margin-bottom: 16px;
    }

    .section-lesson-description {
        font-size: 20px;
    }

    .section-recommend {
        display: flex;
        flex-direction: row;
        margin-bottom: 64px;
        border-bottom: solid 1px #CCCCCC;
    }

    .section-recommend-item {
        position: relative;
        width: 50%;
        height: 238px;
        padding-bottom: 0px;
        border: none;
        margin-bottom: 44px;
    }

    .section-recommend-heading {
        margin-bottom: 16px;
    }

    .section-recommend-description {
        font-size: 20px;
        margin-bottom: 24px;
    }

    .section-recommend-btn {
        height: 56px;
        position: absolute;
        bottom: 0px;
    }

    .section-recommend-btn-blue {
        position: absolute;
        bottom: 0px;
        width: 340px;
    }

    
    .footer {
        display: flex;
        justify-content: space-between;
    }
}

    @media (min-width: 1024px) {
        .section-recommend-heading {
            font-size: 32px !important;
        }

}